<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MassChallenge Container Deploy Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/normalize/5.0.0/normalize.css" integrity="sha256-uHu2MAd1LvCOVEAhvMld4LpJi7dUGS7GVzvG/5B3hlo=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/skeleton/2.0.4/css/skeleton.css" integrity="sha256-ECB9bbROLGm8wOoEbHcHRxlHgzGqYpDtNTgDTyDz0wg=" crossorigin="anonymous">
    <!--[if lt IE 9]><script src="js/html5shiv-printshiv.js" media="all"></script><![endif]-->
  </head>
  <body>
    <div class="container">
      <header class="row">
        <div class="offset-by-one ten columns">
          <h1>MC Container Deploy Demo</h1>
        </div>
      </header>
      <main class="row">
        <div class="offset-by-one ten columns">
          <p>Successfully deployed!</p>
          <a class="button button-primary" href="https://github.com/masschallenge/impact-api-deploy-demo">On Github</a>
          <a class="button button" href="https://travis-ci.org/masschallenge/impact-api-deploy-demo">On TravisCI</a>
          <a class="button button" href="https://masschallenge.atlassian.net/browse/AC-3883">On Jira</a>
        </div>
      </main>
    </div><!-- end of container -->
  </body>
</html>
